extends layout

block content
  article#main-content.labs
    span#watermark
    h1#page-title.title Labs
    .content-area
      #doc
        .section
          .region.region-content
            #block-system-main.block.block-system.first.last.odd.count-1
              .content
              .view.view-labslist.view-id-labslist.view-display-id-labs_list_main_page.labs-main
                .view-header
                  .row
                    .col-md-8
                      p To help you use Red Hat products to their full potential, our engineers have developed a set of tools within Red Hat Access Labs to support customer success. 
                        | Red Hat Access Labs is built on 
                        a(href='https://access.redhat.com/products/openshift-enterprise-red-hat/') OpenShift Enterprise
                        |, enabling continuous delivery and continuous innovation.
                      p We invite you to try these tools and tell us what you think. As our customer community collaborates and offers feedback, 
                        | these applications will grow and change quickly. Get started here with the featured labs below!

                if labs.length
                  .attachment.attachment-before
                    .view.view-labslist.view-id-labslist.view-display-id-featured_labs_attachment.labs
                      .view-header
                        h2 Featured Labs
                      .view-content
                        each lab in labs
                          li.labs-item.col-md-4.col-xs-12
                            a(href='/labs/#{lab.lab_id}/')
                                span.labs-icon-performance
                                h3 #{lab.name}
                                dl.labs-version
                                  dt Version:
                                  dd #{lab.version}
                                p
                                  | #{lab.description}
                            ul.lab-links
                              li.go-link
                                a(href='/labs/#{lab.lab_id}/') Go to App
                              li.more-info
                                a(href='/labsinfo/#{lab.lab_id}') More info
